$white: #fff;
$black: #000;
$yellow: #F1A501;
$nav_item_clr: #212832;
$orange: #DF6951;
$head_clr: #181E4B;
$sub_head_clr: #5E6282;
$sub_head_clr_one: #1E1D4C;
$sub_head_clr_two: #14183E;
$bg_subscribe_clr: #DFD7F9;
$headings: #14183E;